HELP.md
target/
!.mvn/wrapper/maven-wrapper.jar
!**/src/main/**/target/
!**/src/test/**/target/
docker/.env
/TODO
/src/main/resources/secrets/

### IntelliJ IDEA ###
.idea
*.iws
*.iml
*.ipr


/datasets/
/src/main/java/com/thiscompany/ttrack/kafka/service/ 
